extends layout

     
block index
    .container-fluid.p-5.row
        .row.d-flex.custom.d-flex.align-items-center
            .col-md-7.mx-auto
                h1.text-center Administra tus contactos
                h2.text-center Agrega a tus personas preferidas
                h5.text-center Puedes guardar a todas las personas que mas quieres para tener siempre su contacto y llamarlas o mandarles mensajes
                div.d-flex.justify-content-center.gap-2.pt-4
                    a.btn.btn-primary.btn-lg(href="/contacto") Ver Contactos
                    a.btn.btn-outline-primary.btn-lg(href="/contacto/add") Agregar a un amigo

